@model System.Collections.Generic.List<BrightstarDB.Azure.Management.StoreDetail>

@{
    ViewBag.Title = "Stores";
}

<h2>Stores</h2>
<table>
    @foreach(var store in Model)
    {
        <tr>
            <td>@store.Id</td>
            <td>@store.Label</td>
            <td>@Html.ActionLink("Update", "Transaction", new {store.Id})</td> 
            <td>@Html.ActionLink("Query", "Query", new { store.Id })</td>
            <td>@Html.ActionLink("Masterfile", "MasterFile", new { store.Id })</td>
            <td>@Html.ActionLink("Datafile", "DataFile", new { store.Id })</td>
        </tr>
    }
</table>

@using (Html.BeginForm())
{
    <p>New Store: <input type="text" name="storeName" required="true"/><input type="submit" value="Go"/></p>    
}
