@model BrightstarDB.Azure.Management.SubscriptionDetails

@{
    ViewBag.Title = "Add Subscription";
}

<h2>Add Subscription</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary()
    <fieldset title="New Subscription Details">
        <legend>New Subscription Details</legend>
        <div class="editor-label">@Html.LabelFor(Model=> Model.Label)</div>
        <div class="editor-field">@Html.EditorFor(Model=>Model.Label)</div>
        <div class="editor-label">@Html.LabelFor(Model=>Model.StoreLimit)</div>
        <div class="editor-field">@Html.EditorFor(Model=>Model.StoreLimit)</div>
        <div class="editor-label">@Html.LabelFor(Model=>Model.StoreSizeLimit)</div>
        <div class="editor-field">@Html.EditorFor(Model=>Model.StoreSizeLimit)</div>
        <div class="editor-label">@Html.LabelFor(Model=>Model.TotalSizeLimit)</div>
        <div class="editor-field">@Html.EditorFor(Model=>Model.TotalSizeLimit)</div>
        <p>
            <input type="submit" value="Create Subscription" />
        </p>
    </fieldset>
}