@model BrightstarDB.Azure.Management.AccountDetails
@{
    ViewBag.Title = "My Account";
}
<article>
<h1>My Account</h1>
@if (Model == null)
{
    <p>You have not yet created a registered account for Brightstar services.</p>
    @Html.ActionLink("Create Account", "NewAccount", "Account", new {@class="button"})
}
else
{
    <h2>API Access</h2>
    <p>Account ID: @Model.AccountId&nbsp;&nbsp;<a href="#" class="orange button" onclick="showAccessKeys()">View API Keys</a></p>
    
    <h2>Subscriptions</h2>
    if (Model.Subscriptions.Count() == 0)
    {
        <p id="nosubs">You do not have any subscriptions yet.</p>
    }
    else
    {
        <table class="display">
            <thead>
                <tr>
                    <td>Subscription ID</td>
                    <td>Name</td>
                    <td>Stores (Used / Max)</td>
                    <td>Store Size Limit</td>
                    <td>Total Size Limit</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var subscription in Model.Subscriptions) 
                {
                    <tr>
                        <td>@Html.ActionLink(subscription.Id, "Subscription", new {subscriptionId=subscription.Id})</td>
                        <td>@subscription.Label</td>
                        <td>@subscription.CurrentStoreCount / @subscription.StoreLimit</td>
                        <td>@subscription.StoreSizeLimit</td>
                        <td>@subscription.TotalSizeLimit</td>
                        <td>
                            @if (subscription.IsActive){
                                <span class="ok">Active</span>
                            } else {
                                <span class="attention">Inactive</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    if (true)
     {
        <p>BrightstarDB Service is in closed beta and no self-service options for creating subscriptions are available at this time. To
        have a new subscription activated for you please email us at contact@brightstardb.com.</p>
     }
     else if (!Model.Subscriptions.Any(s => s.IsTrial))
         {
        @Html.ActionLink("Create Trial Subscription", "CreateTrial", null, new { @class = "orange button" });
        <p>To create a new paid subscription, please <a href='#'>visit the billing site</a>.</p>
         }
         else
         {
        <p>To add another subscription, please <a href='#'>visit the billing site</a>.</p>
         }

     if (Model.IsAdmin)
     {
         <h2>Admin</h2>
        <p>@Html.ActionLink("Click here", "Index", "Admin") for Administration options</p>
    }
}
</article>

<aside>
<div id="keysDlg">
    <p id="keysDlgMsg"></p>
    <table>
        <tr>
            <td>Primary Key</td>
            <td><input id="primaryKey" type="text" readonly="readonly" style="width:30em"/></td>
        </tr>
        <tr>
            <td>Seconary Key</td>
            <td><input id="secondaryKey" type="text" readonly="readonly" style="width:30em"/></td>
        </tr>
    </table>
    </div>
</aside>

<script type="text/javascript">
    function showAccessKeys() {
        $('#keysDlgMsg').text('Retrieving API keys...');
        $('#primaryKey').val('');
        $('#secondaryKey').val('');
        $('#keysDlg').dialog('open');
        $.ajax({
            type: 'POST',
            url: '/Account/AccessKeys',
            success: function (data) {
                $('#primaryKey').val(data.PrimaryKey);
                $('#secondaryKey').val(data.SecondaryKey);
                $('#keysDlgMsg').text("Your API keys:");
            },
            error: function (jqXHR, textStatus, error) {
                $('#dlg').text('There was an error retrieving the API keys. Please try again later.');
            }
        });
    }
    function createStore(subscriptionId) {
        var container = $("#" + subscriptionId);
        $.ajax({
            type: 'POST',
            url: '/Account/CreateStore',
            data: { subscription: subscriptionId },
            success: function() {
                $(container).load('/Account/Subscription', { subscriptionId: subscriptionId });
            },
            error: function() {
                alert("There was an error creating the new store.");
                $(container).load('/Account/Subscription', { subscriptionId: subscriptionId });
            }
        });
    }
    jQuery(document).ready(function () {
        $('.expandable .head').click(function () {
            $(this).next().toggle('slow');
            return false;
        }).next().hide();
        $('#keysDlg').dialog({ autoOpen: false, title: 'Store API Keys', width: 600 });
        $('table.display').dataTable({ bJQueryUI: true, sPaginationType: 'full_numbers' });
    });
</script>
