@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BrightstarDB.Server.Modules.Model.PagedResultModel<BrightstarDB.Server.Modules.Model.CommitPointResponseModel>>
@{
    Layout = "_Layout";
    ViewBag.Title = "BrightstarDB: Store Commit Points";
}

<nav>
    <ul class="horizontal breadcrumb">
        <li><a href="~/">Home</a></li>
        <li><a href="~/@Model.RequestProperties.StoreName">@Model.RequestProperties.StoreName</a></li>
        <li><a href="~/@Model.RequestProperties.StoreName/commits">Commit History</a></li>
    </ul>
</nav>

<table>
    <thead>
        <tr>
            <th>Commit ID</th>
            <th>Job ID</th>
            <th>Commit Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.JobId</td>
                <td>@item.CommitTime</td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("ListPaging.cshtml", Model as BrightstarDB.Server.Modules.Model.IPagedResultModel)