@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BrightstarDB.Server.Modules.Model.StoreResponseModel>
@{
    Layout = "_Layout";
    ViewBag.Title = "BrightstarDB: Store Information";
}

	<nav>
		<ul class="horizontal breadcrumb">
			<li><a href="~/">Home</a></li>
		    <li><a href="#">Store: @Model.Name</a></li>
		</ul>
	</nav>

	<h1>Store: @Model.Name</h1>

	Currently available store operations are:
	<ul>
		<li><a href="@Model.SparqlQuery">SPARQL Query</a></li>
		<li><a href="@Model.SparqlUpdate">SPARQL Update</a></li>
		<li><a href="@Model.Jobs">Jobs</a></li>
		<li><a href="@Model.Statistics">Statistics</a></li>
		<li><a href="@Model.Commits">Commit History</a></li>
		<li><a href="@Model.Transactions">Transaction History</a></li>
	</ul>

	<form method="POST">
		<input type="hidden" name="X-HTTP-Method-Override" value="DELETE" />
		<button type="submit">Delete Store</button>
	</form>