@model IEnumerable<BrightstarDB.Azure.Common.JobInfo>
@{
    ViewBag.Title = "Jobs List";
}

<nav id="breadcrumb">
    <ul>
        <li>@Html.ActionLink("Account", "Index", "Account", null, null)</li>
        <li>@Html.ActionLink((string)ViewBag.StoreId, "Manage", "Stores", {id=ViewBag.StoreId}, null)</li>
        <li>Recent and Active Jobs</li>
    </ul>
</nav>
<article>
<h2>Recent and Active Jobs</h2>

<table class="display">
    <thead>
        <tr>
            <td>Job ID</td>
            <td>Job Type</td>
            <td>Status</td>
            <td>Last Message</td>
            <td>Completed At</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var job in Model){
            <tr>
                <td>@job.Id</td>
                <td>@job.JobType</td>
                <td>@job.Status</td>
                <td>@job.StatusMessage</td>
                <td>@job.ProcessingCompleted</td>
            </tr>
        }
    </tbody>
</table>

</article>